/* CSS Document */

.headers {
	color: #49767d;
}

.input-box {
	/* margin: 20px; */
	display: inline-block;
	border: 10px solid green;
	border-radius: 10px;
	background-color: green;
}

body {
	background-color: #e5e5db
}

.header-div a {
	display: inline-block;
	color: gray;
}

.header-div .left-side {
	margin-left: 30px;
}

.header-div .right-side {
	margin-left: calc(100% - 200px);
	width: auto;
}


.header-div .headers {
	display: inline-block;
}

.center{
  align-items: center;
  display: flex;
  justify-content: center;
}

.post-content {
	margin-left: 15%;
}